<div class=" items-center mt-20">
  <h1
    class="lg:text-6xl md:text-5xl sm:text-4xl text-[35px] font-extrabold text-balance"
  >
    Shorten Your Loooong Links
  </h1>
  <p class="text-center text-[#C9CED6] px-4 mt-2 text-balance">
    Linkly is an efficient and easy-to-use URL shortening service that
    streamlines your <br /> online experience.
  </p>
</div>
<style>
  h1 {
    text-align: center;
    font-style: normal;
    background: linear-gradient(
      90deg,
      #144ee3 -0.02%,
      #eb568e 18.86%,
      #a353aa 64.49%,
      #144ee3 100.67%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
